/* LAYOUT */
:root {
    --background-color: rgb(246, 246, 246);
    --main-heading-color: rgb(18, 63, 72);
    --transacciones: white;
    --color-ingreso: rgb(187, 217, 187);
    --color-gasto: rgb(215, 136, 136);
}

body {
    padding: 0 10%;
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subheading, .titulo-principal {
    color: var(--main-heading-color);
}


/* AHORROS */

.seccion-ahorro-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
}

.seccion-desglose {
    display: flex;
    flex-direction: row;
}

.seccion-ingresos, .seccion-gastos {
    padding: 10px 20px;
    border: 1px solid grey;
}


/* FORMULARIO */

#form-nueva-transaccion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    align-items:stretch;
}

/* .form-nueva-transaccion .switch-input {

} */


#form-nueva-transaccion .switch-input-button {
    display: none;
}

#form-nueva-transaccion .switch-input{
    align-self: center;
}

#switch-ingreso:checked + label {
    background-color: var(--color-ingreso);
}
#switch-gasto:checked + label {
    background-color: var(--color-gasto);
}

.switch-input-label {
    padding: 10px 20px;
    border: 1px solid black;
}


/* HISTORIAL */
.transaccionIngresoElement, .transaccionGastoElement {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; */
    display: grid;
    grid-template-columns: 70% 20% 10%;
    border: 1px solid lightgrey;
    border-bottom-color: grey;
    padding-left: 5%;
}

.transaccionIngresoElement {
    background: linear-gradient(to left, var(--color-ingreso), var(--transacciones) 25%);
}

.transaccionGastoElement {
    background: linear-gradient(to left, var(--color-gasto), var(--transacciones) 25%);
}

.cantidadElement {
    justify-self: end;
    padding-right: 10%;
}